<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SERVICES</title>
  </head>
  <body>
    <div id="services">
      <a href="/"
        ><img id="logo" src="../../assets/img/altlogo.png" alt="Back Home"
      /></a>
      <h1 id="service_header">SERVICES + PRICING</h1>
      <div class="block"></div>
      <div id="pricing">
        <p class="contact_content">Women's Haircut</p>
        <p class="contact_content">Men's Haircut</p>
        <p class="contact_content">Shampoo & Blow Dry</p>
        <p class="contact_content">Single Process Color</p>
        <p class="contact_content">Highlighting/Hair Painting</p>
        <p class="contact_content">Glossing/Glaze</p>
        <p class="contact_content">Color Correction</p>
      </div>
      <div id="pricing2">
        <p class="contact_content1">$50+</p>
        <p class="contact_content1">$30+</p>
        <p class="contact_content1">$40+</p>
        <p class="contact_content1">$70+</p>
        <p class="contact_content1">$95+</p>
        <p class="contact_content1">$30+</p>
        <p class="contact_content2">TBD</p>
      </div>
      <div id="location_images">
        <div class="image1">
          <img
            class="shop"
            src="../../assets/img/hair2.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="image2">
          <img
            class="shop"
            src="../../assets/img/hair5.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="image1">
          <img
            class="shop"
            src="../../assets/img/hair8.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="image2">
          <img
            class="shop"
            src="../../assets/img/hair1.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="image1">
          <img
            class="shop"
            src="../../assets/img/hair4.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="image2">
          <img
            class="shop"
            src="../../assets/img/hair14.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
    </div>
  </body>
</html>
